*.bak
[Bb]in/
[Bb]uild/
[Bb]uild[Ll]og.*
*.[Cc]ache
[Dd]ataBase/
[Dd]ebug/
Desktop.ini
*.dll
*.exe
[Oo]bj/
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
$RECYCLE.BIN/
[Rr]elease/
*.sbr
*.scc
*.sdf
*.suo
[Tt]humbs.db
*.user
